**Variables** **And** **Datatypes**

In [ ]:
print("Hello,World!")
first_name="Ranjita"
middle_name="Shivanagouda"
last_name="Goudappanavar"
print("My name is:",first_name,middle_name,last_name)
age=21
print("Age is:",age)
print(f"Name is: {first_name} Age is: {age}")

Hello,World!
My name is: Ranjita Shivanagouda Goudappanavar
Age is: 21
Name is: Ranjita Age is: 21

**Indentation**

In [ ]:
x=10
if x>0:
  print("x is positive")
  print("This is inside the if block" )

x is positive
This is inside the if block

**String** **Type**

In [ ]:
name="Ranjita"
message='Hello world'
multiline="""This is multiline"""
print(name,message,multiline)

Ranjita Hello world This is multiline

**Boolean** **Type**

In [ ]:
is_active=True
is_finished=False
print(is_active,is_finished)

True False

**Type Checking**

In [ ]:
print(type(age))
print(type(first_name))
print(type(name))

<class 'int'>
<class 'str'>
<class 'str'>

**Type Conversion**

In [ ]:
str_number="123"
int_number=int(str_number)
float_number=float(str_number)

print(f"Original:{str_number} (type:{type(str_number)})")
print(f"Integer:{int_number} (type:{type(int_number)})")
print(f"Float:{float_number} (type:{type(float_number)})")

Original:123 (type:<class 'str'>)
Integer:123 (type:<class 'int'>)
Float:123.0 (type:<class 'float'>)

**Create variables for Personal Information**

In [ ]:
name="Ranjita"
sir_name="Goudappanavar"
height=5.6
age=21
sem="5th Sem"
place="Aladakatti"
is_student=True
print(f"Name is:{name} {sir_name}")
print(f"Height:{height} feet")
print(f"Age:{age}")
print(f"Sem:{sem}")
print(f"Place is:{place}")

Name is:Ranjita Goudappanavar
Height:5.6 feet
Age:21
Sem:5th Sem
Place is:Aladakatti

**Type Conversion**

In [ ]:
age_str=str(age)
height_int=int(height)
print(f"Age is string:{age_str}")
print(f"Height as integer:{height_int}")

Age is string:21
Height as integer:5

**Operators And Basic operations**

**Arithmetic Operator**

In [ ]:
a=10
b=3
print(f"Addition:{a}+{b}={a+b}")
print(f"Substract:{a}-{b}={a-b}")
print(f"Multiplication:{a}*{b}={a*b}")
print(f"Division:{a}/{b}={a/b}")
print(f"Floor Divivsion:{a}//{b}={a//b}")
print(f"Modulus:{a}%{b}={a%b}")
print(f"Exponention:{a}**{b}={a**b}")

Addition:10+3=13
Substract:10-3=7
Multiplication:10*3=30
Division:10/3=3.3333333333333335
Floor Divivsion:10//3=3
Modulus:10%3=1
Exponention:10**3=1000

**Order of operations(PEMDAS)**

- P-Parantheses
- E-Exponents
- M-Multiplication
- D-Divivsion
- A-Addition
- S-Substraction

In [ ]:
result=2+3*4**2-1
print(f"2+3*4**2-1={result}")

2+3*4**2-1=49

**Comparision Operator**

**Integer Comparision**

In [ ]:
a=200
b=100
print(f"LessThan:{a<b}")
print(f"GreaterThan:{a>b}")
print(f"LessThanEqual:{a<=b}")
print(f"GreaterThanEqual:{a>=b}")
print(f"Equal:{a==b}")
print(f"NotEqual:{a!=b}")

LessThan:False
GreaterThan:True
LessThanEqual:False
GreaterThanEqual:True
Equal:False
NotEqual:True

**String Comparision**

In [ ]:
n1="Ram"
n2="Ravi"
print(n1>n2)
print(n1<n2)
print(n1==n2)
print(n1!=n2)
print(n1<=n2)
print(n1>=n2)

False
True
False
True
True
False

**Logical Operator**

In [ ]:
p=True
s=False
print(f"p and s:{p and s}")
print(f"p or s:{p or s}")
print(f"p not s:{not p}")

p and s:False
p or s:True
p not s:False

In [ ]:
#Practical Example
age=20
has_license=True
can_drive=age>=18 and has_license
print(f"can drive:{can_drive}")

can drive:True

In [ ]:
#Multiple conditions
score=85
is_present=True
has_passed=score>=90 and is_present
print(f"has passed:{has_passed}")

has passed:False

In [ ]:
#Personal Information
age=18
annual_income=50000
credit_score=720
has_colleteral= True

In [ ]:
#Loan criteria
min_age=18
min_annual_income=30000
min_credit_score=650
min_has_colleteral=True
eligible=age>=min_age and annual_income>=min_annual_income and credit_score>=min_credit_score
print(f"eligibility:{eligible}")

eligibility:True

In [ ]:
#check Qualification
age_qualified = age >= min_age
income_qualified =annual_income >= min_annual_income
credit_qualified = credit_score >= min_credit_score
print(f"age qualified:{age_qualified}")
print(f"income qualified:{income_qualified}")
print(f"credit qualified:{credit_qualified}")

age qualified:True
income qualified:True
credit qualified:True

**Data Strucutre**

List

In [ ]:
#creating list
Fruits=['Banana','Apple','Mango']
Number=[10,20,30,40]
Mixed_data=['sihi',51,'Ram',54.8]
print(Fruits)
print(Number)
print(Mixed_data)

#indexing
print("fisrt fruit:",Fruits[0])
print("second number:",Number[1])
print("3rd mixed data is:",Mixed_data[2])

#list slicing
print(f"first 2 fruits:",Fruits[0:2])
print(f"last 2 numbers:",Number[1:3])
print(f"first 3 mixed data:",Mixed_data[0:3])

#list methods
Fruits.append("orange")
Fruits.insert(1,"kiwi")
print("Upadated Fruit list:",Fruits)
remove=Fruits.pop()
print("Upadated Fruit list:",Fruits)
print("Removed:",remove)

#list operation
print(f"Length of Number:{len(Number)}")
print(f"contains 'Mango':{'Mango' in Fruits}")
print(f"Index of Banana:{Fruits.index('Banana')}")

['Banana', 'Apple', 'Mango']
[10, 20, 30, 40]
['sihi', 51, 'Ram', 54.8]
fisrt fruit: Banana
second number: 20
3rd mixed data is: Ram
first 2 fruits: ['Banana', 'Apple']
last 2 numbers: [20, 30]
first 3 mixed data: ['sihi', 51, 'Ram']
Upadated Fruit list: ['Banana', 'kiwi', 'Apple', 'Mango', 'orange']
Upadated Fruit list: ['Banana', 'kiwi', 'Apple', 'Mango']
Removed: orange
Length of Number:4
contains 'Mango':True
Index of Banana:0

**Tuples**

In [ ]:
#Tuple are inmutable
coordinates=(10,20)
rgb_color=(255,128,0)
person_info=("pooja",25,"Engineer",25,True)
print(coordinates)
print(rgb_color)
print(person_info)

#Tuple Unpacking
x,y=coordinates
print(f"x:{x} y:{y}")

#Tuple Methods
print(f"Count of 25:{person_info.count(25)}")
print(f"Index of pooja:{person_info.index('pooja')}")

(10, 20)
(255, 128, 0)
('pooja', 25, 'Engineer', 25, True)
x:10 y:20
Count of 25:2
Index of pooja:0

**Why use Tuples?**

- Immutable(safe for dictionary keys)
- Slightly faster than list
- Good for fixed collections