# **Data Processing in Python**

It can have missing values,wrong formats,different scales,or categories that ness conversion

- **Handling Missinf Values**

Check for missing values

In [ ]:
import pandas as pd

df=pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df.isnull().sum()

In [ ]:
df[df.isnull().any(axis=1)]

In [ ]:
#pd.set_option("display.max_rows",None)
df[df['Age'].isnull()]

In [ ]:
df.iloc[5]

**a)Drop Rows or Columns**

In [ ]:
#df.dropna(inplace=True) #drop rows with any missing values
#df.dropna(subse=['Age'],inplace=True)
df.drop(columns=['Cabin'],inplace=True)
df

NameError: name 'df' is not defined

**b)Fill with Static value**

In [ ]:
df['Embarked'].fillna('unknown',inplace=True)
df['Age'].fillna(0,inplace=True)

**c)Fill with Mean,Median,Mode**

In [ ]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Age'].fillna(df['Age'].median(),inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)
df.info()

**d)Forward/Backward Fill**

In [ ]:
df.fillna(method='ffill',inplace=True)
df.fillna(method='bfill',inplace=True)
df.info()

- **Final Handling**

In [ ]:
df.drop(columns=['Cabin'],inplace=True)
df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])
df['Age']=df['Age'].fillna(df['Age'].mean())

# **Encoding Categorical Variables**

a)label Encoding used for original data(Low>median<High).But often also used for binary nominal features

In [ ]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
df['sex']=le.fit_transform(df['sex'])
df

NameError: name 'df' is not defined

b)One-Hot Encoding

In [ ]:
df=pd.get_dummies(df,columns=['Embarked'],drop_first=True)
df

NameError: name 'pd' is not defined

# **Load And Inspect data**

In [ ]:
import pandas as pd
url="https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv"
df=pd.read_csv(url)
df.head()

- **Check for Null Values**

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

NameError: name 'df' is not defined

# **One-Hot Encode Categorical Variables**

In [ ]:
df_encoded=pd.get_dummies(df,drop_first=True)
df_encoded.head()

- **Feature and Target Separtion**

In [ ]:
x=df_encoded.drop('charges',axis=1)
y=df_encoded['charges']

- Features scaling using standard scaler

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
X_scaled=scaler.fit_transform(x)

- **Train-Test Split**

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_scaled,y,test_size=0.2,random_state=42)

- **Train Linear Regression Model**

In [ ]:
from sklearn.linear_model import LinearRegression

model=LinearRegression()
model.fit(X_train,y_train)

- **Make Predictions**

In [ ]:
y_pred=model.predict(X_test)

- **Evaluate Model**

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np
mse=mean_squared_error(y_test,y_pred)
rmse=np.sqrt(mse)

print("Mean Suared Error:",mse)
print("Root Mean Squared Error:",rmse)
print("R2 Score:",r2_score(y_test,y_pred))

NameError: name 'y_test' is not defined