**Dictionary**

In [ ]:
person={
    "name":"Ranjita",
    "age":21,
    "job":"Software engineer",
    "salary":50000,
    "skills":["python","java","c++"]
}
print(person)

#Accessing Values
print(f"Name:{person['name']}")
print(f"Age:{person.get('age','unknown')}")

#Dictionary Methods
print(f"keys:{list (person.keys())}")
print(f"values:{list (person.values())}")
print(f"items:{list (person.items())}")

#Adding/Updating
person["location"]="Network"
person["salary"]=80000

{'name': 'Ranjita', 'age': 21, 'job': 'Software engineer', 'salary': 50000, 'skills': ['python', 'java', 'c++']}
Name:Ranjita
Age:21
keys:['name', 'age', 'job', 'salary', 'skills']
values:['Ranjita', 21, 'Software engineer', 50000, ['python', 'java', 'c++']]
items:[('name', 'Ranjita'), ('age', 21), ('job', 'Software engineer'), ('salary', 50000), ('skills', ['python', 'java', 'c++'])]

In [ ]:
inventory={
    "laptops":{
        "quantity":50,
        "price":999.99
    },
    "phones":{
        "quantity":100,
        "price":599.99
    },
    "tablets":{
        "quantity":30,
        "price":399.99
    }
}

#Nested Access
print(f"laptops price:{inventory['laptops']['price']}")
print(f"Total quantity:{inventory['phones']['quantity']}")

laptops price:999.99
Total quantity:100

**Sets contain unique Elements**

In [ ]:
colors={"red","green","blue","red"}
print(f"colors:{colors}")

colors:{'green', 'red', 'blue'}

**Set Operations**

In [ ]:
team1_skills={"python","javascript","c++"}
team2_skills={"c","javascript","c++","sql"}

#Common Operations
print(f"union:{team1_skills.union(team2_skills)}")
print(f"intersection:{team1_skills.intersection(team2_skills)}")
print(f"difference:{team1_skills.difference(team2_skills)}")

union:{'javascript', 'python', 'c++', 'sql', 'c'}
intersection:{'javascript', 'c++'}
difference:{'python'}

**Adding to sets**

In [ ]:
colors.add("yellow")
colors.update(["purple","orange"])
print(f"updated colors:\n{colors}")

updated colors:
{'orange', 'blue', 'yellow', 'green', 'red', 'purple'}

**Control Flow**

Conditional Statements

 - Basic if-else

In [ ]:
def get_grade_letter(score):
  if score>=90:
    return "A"
  elif score>=80:
    return "B"
  elif score>=70:
    return "C"
  elif score>=60:
    return "D"
  else:
    return "F"

- Test the function

In [ ]:
test_score=[95,83,72,65,58]
for score in test_score:
  grade=get_grade_letter(score)
  print(f"Score:{score} Grade:{grade}")

Score:95 Grade:A
Score:83 Grade:B
Score:72 Grade:C
Score:65 Grade:D
Score:58 Grade:F

- Nested Condition

In [ ]:
def get_shipping_cost(weight,distance):
  base_cost=5.0

  if weight<=1:
    weight_cost=2.0
  elif weight<=5:
    weight_cost=5.0
  else:
    weight_cost=10.0


  if distance<=100:
    distance_cost=1.0
  elif distance<=500:
    distance_cost=3.0
  else:
    distance_cost=7.0

  return base_cost+weight_cost+distance_cost

- Test shipping costs

In [ ]:
print(f"Light, close:${get_shipping_cost(0.5,50)}")
print(f"Heavy, far:${get_shipping_cost(10,800)}")

Light, close:$8.0
Heavy, far:$22.0

**Loops-For Loop**

- Basic For Loop

In [ ]:
fruits=["apple","banana","orange","grape"]
for fruit in fruits:
  print("I like",fruit)

I like apple
I like banana
I like orange
I like grape

- **Loop With Enumerate(get index)**

In [ ]:
for i, fruit in enumerate(fruits):
  print(f"{i+1}.I like {fruit}")

1.I like apple
2.I like banana
3.I like orange
4.I like grape

- **Loop with range**

In [ ]:
for day in range(1,9):
  print("Day",day,"of the week")

Day 1 of the week
Day 2 of the week
Day 3 of the week
Day 4 of the week
Day 5 of the week
Day 6 of the week
Day 7 of the week
Day 8 of the week

- **Nested Loops-creating a multiplication table**

In [ ]:
print("Multiplication table")
for i in range(1,6):
  for j in range(1,6):
    product=i*j
    print(i,"x",j,"=",product)

Multiplication table
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

- **Processing data with loops**

In [ ]:
sales_data=[
    {"product":"Laptop","price":999,"quantity":5},
    {"product":"Smartphone","price":599,"quantity":10},
    {"product":"Tablet","price":299,"quantity":8}
]

total_revenue=0

for item in sales_data:
  revenue=item["price"]*item["quantity"]
  total_revenue+=revenue
  print(f"{item['product']}:${revenue}")

print(f"Total Revenue:${total_revenue}")

Laptop:$4995
Smartphone:$5990
Tablet:$2392
Total Revenue:$13377

**Loops-While Loop**

While loop for user input simulation

In [ ]:
def simple_guessing_game():
  target=7
  guess=0
  attempts=0
  print("Guess the number between 1 and 10")

  while guess!=target:

    #simulate user input
    import random
    guess=random.randint(1,10)
    attempts+=1

    if guess <target:
      print(f"Guess{attempts}:{guess}-Too low!")
    elif guess>target:
      print(f"Guess{attempts}:{guess}-Too high!")
    else:
      print(f"Guess{attempts}:{guess}-Correct")

    #Safety check
    if attempts>10:
      print("Max attempts reached!")
      break

  print(f"Game finished in {attempts} attempts")

simple_guessing_game()

Guess the number between 1 and 10
Guess1:7-Correct
Game finished in 1 attempts

**While loop for processing**

In [ ]:
def process_queue():
  queue=["Task 1","Task 2","Task 3","Task 4"]


  while queue:
    current_task=queue.pop(0)
    print(f"processing:{current_task}")
    print(f"Remaining tasks:{len(queue)}")

  print("All tasks completed!")

process_queue()

processing:Task 1
Remaining tasks:3
processing:Task 2
Remaining tasks:2
processing:Task 3
Remaining tasks:1
processing:Task 4
Remaining tasks:0
All tasks completed!

**Functions Basics**

Basic Functions Definition

In [ ]:
def greet(name):
  return f"Hello,{name}"

- Function call

In [ ]:
message=greet("Python programmer")
print(message)

Hello,Python programmer

- Function with multiple parameter

In [ ]:
def calculate_area(length,width):
  area=length*width
  return area

- Test the function

In [ ]:
room_area=calculate_area(10,5)
print(f"Room area:{room_area} square feet")

Room area:50 square feet

- Function with default parameter

In [ ]:
def create_user_profile(name,age=18,location="unknown",active=True):
  return{
      "name":name,
      "age":age,
      "location":location,
      "active":active
  }

**Different ways to call**

In [ ]:
profile1=create_user_profile("Alice")
profile2=create_user_profile("Bob",25)
profile3=create_user_profile("Charlie",location="New york",age=30)
print(f"Profile 1:{profile1}")
print(f"Profile 2:{profile2}")
print(f"Profile 3:{profile3}")

Profile 1:{'name': 'Alice', 'age': 18, 'location': 'unknown', 'active': True}
Profile 2:{'name': 'Bob', 'age': 25, 'location': 'unknown', 'active': True}
Profile 3:{'name': 'Charlie', 'age': 30, 'location': 'New york', 'active': True}

**Advanced Function Concepts**

- Function returning multiple values

In [ ]:
def analyze_text(text):
  words=text.split()
  word_count=len(words)
  char_count=len(text)
  char_count_no_spaces=len(text.replace(" ",""))

  return word_count,char_count,char_count_no_spaces

- **Test with sample text**

In [ ]:
sample_text="Python is a powerfull programming language"

words,chars,char_no_spaces=analyze_text(sample_text)

print(f"Text:'{sample_text}'")
print(f"Words count:'{words}'")
print(f"Characters count:'{chars}'")
print(f"Characters count(no spaces):'{char_no_spaces}'")

Text:'Python is a powerfull programming language'
Words count:'6'
Characters count:'42'
Characters count(no spaces):'37'

**Variable length argument**

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0

  return sum(numbers)/len(numbers)

**Test with different numbers of argument**

In [ ]:
avg1=calculate_average(10,20,30,40)
avg2=calculate_average(1,2,3,5)
avg3=calculate_average(100)

print(f"Average of 10,20,30,40:{avg1}")
print(f"Average of 1,2,3,5:{avg2}")
print(f"Average of 100:{avg3}")

Average of 10,20,30,40:25.0
Average of 1,2,3,5:2.75
Average of 100:100.0

**Keyword argument**

In [ ]:
def create_report(**data):
  print("=== REPORT ===")

  for key,value in data.items():
    print(f"{key.replace('_','').title()}:{value}")

  print("============")

create_report(
    title="Monthly sales report",
    date="2024-01-01",
    total_sales=15000,
    new_customers=25,
    returning_customers=150
)

=== REPORT ===
Title:Monthly sales report
Date:2024-01-01
Totalsales:15000
Newcustomers:25
Returningcustomers:150
============

**Lambda Functions**

Lambda functions(anonymous functions)

- Regular Functions

In [ ]:
def squares(x):
  return x**2

- Lambda equivalent

In [ ]:

square_lambda=lambda x:x**2
print(f"Regular function:{squares(5)}")
print(f"Lambda function:{square_lambda(5)}")

Regular function:25
Lambda function:25

- **Lambda with multiple arguments**

In [ ]:
multiply=lambda x,y:x*y
print(f"Multiplication:{multiply(3,4)}")

Multiplication:12

- **Lambda with built-in functions**

In [ ]:
numbers=[1,2,3,4,5]
squared=list(map(lambda x:x**2,numbers))
print(f"Squared numbers:{squared}")

Squared numbers:[1, 4, 9, 16, 25]

- **Filtering with lambda**

In [ ]:
ages=[16,21,35,12,45,18,67]
adults=list(filter(lambda x:x>=18,ages))
print(f"Adults ages:{adults}")

Adults ages:[21, 35, 45, 18, 67]

**Sorting with lambda**

In [ ]:
people=[
    {"name":"Alice","age":30},
    {"name":"Bob","age":25},
    {"name":"Eve","age":35}
]
sorted_people=sorted(people,key=lambda person:person["age"])
print("Sorted people by age:")
for person in sorted_people:
  print(f"{person['name']}:{person['age']}")

Sorted people by age:
Bob:25
Alice:30
Eve:35